@model IEnumerable<BankingProjectMVC.ViewModels.TransactionVM>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>All Transaction Records</h2>

<body style="background: linear-gradient(to right, #4e54c8, #8f94fb); color: black; padding: 10px; margin-top: 20px; overflow-x: hidden;">

    <style>
        #TransactionGrid-container {
            overflow-x: auto; /* Add horizontal scrollbar for the container */
            margin-left: 120px;
            /*text-align: center;*/ /* Center the content horizontally */
        }

        #TransactionGrid {
            background-color: inherit;
            color: white;
            border-radius: 10px;
            width: 100%; /* Set table width to 80% of the container */
            /*margin: 0 auto;*/ /* Center the table within the container */
        }
    </style>

    <link href="~/Content/themes/base/jquery.ui.all.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/jquery.jqGrid/ui.jqgrid.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/jquery-3.4.1.min.js" type="text/javascript"></script>
    <script src="~/Scripts/jquery-ui-1.10.0.min.js"></script>
    <script src="~/Scripts/i18n/grid.locale-en.js" type="text/javascript"></script>
    <script src="~/Scripts/jquery.jqGrid.min.js" type="text/javascript"></script>
    <script src="~/Scripts/myjqgrid.js" type="text/javascript"></script>

    <button id="downloadButton" class="btn btn-success">@Html.ActionLink("Download Excel", "DownloadExcel", "Transaction", null, new { style = "color: white;" })</button>
    <br />
    <br />

    <div id="TransactionGrid-container">
        <table id="TransactionGrid"></table>
    </div>
    <div id="TransactionPager"></div>

</body>
