@{
    ViewBag.Title = "Banking Home Page";
}

<main>
    <section class="row" aria-labelledby="bankingTitle">
        <h1 id="title">Secure Online Banking</h1>
        <p class="lead">Experience secure and convenient online banking with our advanced web platform.</p>
        @*<p><a href="https://yourbankwebsite.com" class="btn btn-primary btn-md">Login Now &raquo;</a></p>*@
    </section>
    <br />

    <div class="row">
        <section class="col-md-4" aria-labelledby="accountsTitle">
            <h2 id="accountsTitle">Your Accounts</h2>
            <p>
                Explore your account details and transactions with our user-friendly online banking system,
                providing you with a real-time overview of your financial activities.
            </p>
            <p><a class="btn btn-outline-dark" href="https://yourbankwebsite.com/accounts">Learn more &raquo;</a></p>
        </section>
        <section class="col-md-4" aria-labelledby="paymentsTitle">
            <h2 id="paymentsTitle">Payments and Transfers</h2>
            <p>Effortlessly transfer funds, pay bills, and manage your financial transactions securely through our banking portal.</p>
            <p><a class="btn btn-outline-dark" href="https://yourbankwebsite.com/payments">Learn more &raquo;</a></p>
        </section>
        <section class="col-md-4" aria-labelledby="securityTitle">
            <h2 id="securityTitle">Security Measures</h2>
            <p>Discover our robust security features that safeguard your online banking experience, ensuring the confidentiality and integrity of your financial data.</p>
            <p><a class="btn btn-outline-dark" href="https://yourbankwebsite.com/security">Learn more &raquo;</a></p>
        </section>
    </div>
</main>
